<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Spez_Browser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <Spez_Browser.My.MySettings>
      <setting name="Homepage" serializeAs="String">
        <value />
      </setting>
      <setting name="Lang" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="WelcomeScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="History" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>History</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Bookmarks" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://facebook.com</string>
            <string>https://google.com</string>
            <string>https://spezcomputer.weebly.com</string>
            <string>https://spezlinux.weebly.com</string>
            <string>https://spezcomputerhelp.weebly.com</string>
            <string>https://youtube.com</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Favorites" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Favorites</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ExcludedItems" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="State" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="Position" serializeAs="String">
        <value>32, 32</value>
      </setting>
      <setting name="reseted" serializeAs="String">
        <value>False</value>
      </setting>
    </Spez_Browser.My.MySettings>
  </userSettings>
</configuration>